@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-from-highlight {
  background-color: #e9c176; /* Highlight background color for the FROM keyword */
}
.object1-key {
  background-color: #b2e992; /* Highlight background color for the FROM keyword */
}
.object2-key {
  background-color: #e9c176; /* Highlight background color for the FROM keyword */
}
